.sidebar {
  position: sticky;
  top: 100px;

  flex: 0 0 12em;
  background-color: var(--bg-secondary);

  border: 2px black solid;
  border-radius: var(--radius-m);

  padding: var(--space-l);

  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);

  align-self: flex-start;

  overflow-y: scroll;
}

.sidebar__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 31px;
}

@media (max-width: 1120px) {
  .sidebar {
    display: none;
  }
}
