@keyframes scaleMask {
  0% {
    mask-size: 50%;
    -webkit-mask-size: 50%;
  }
  25% {
    mask-size: 70%;
    -webkit-mask-size: 70%;
  }
  50% {
    mask-size: 120%;
    -webkit-mask-size: 120%;
  }
  75% {
    mask-size: 300%;
    -webkit-mask-size: 300%;
  }
  100% {
    -webkit-mask: none
  }
}

.mask {
  width: 100%;

  -webkit-mask: url('../../assets/burgir_mask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: auto;
  -webkit-mask-position: 50% 10%;
  object-fit: cover;
}
