.form {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.form__header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10%;
}

.form__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: var(--space-l);

  height: 70%;
}

.form__footer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;

  height: 20%;
}
