.header {
  position: sticky;
  top: 0;

  background-color: var(--header-primary);
  color: var(--text-secondary);

  display: flex;

  width: 100%;
  box-sizing: border-box;
  padding: var(--space-l);

  z-index: 1;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 20%;
}

.header__body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 50%;
}

.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  flex: 1;

  padding-right: var(--space-l);
  column-gap: var(--space-m);
  min-width: 20%;
}
